.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px 20px 30px;
}

.pricingTitle {
    color: var(--text-color-90, #495057);
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.centerTitle {
    color: #495057;
    text-align: center;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-transform: capitalize;
    margin-top: 12px;
}

.description {
    color: #74788D;
    text-align: center;
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    width: 275px;
    margin: 4px auto 0 auto;
}

.filterWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.option {
    color: #495057;
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
}

.filter {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    gap: 4px;
    border-radius: 4px;
    background: var(--text-color-60, #EFF2F7);

    color: var(--text-color-20, #495057);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 4px;
}

.optionWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    border-radius: 4px;

    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    width: 52px;
    text-transform: capitalize;
    background: var(--text-color-60, #EFF2F7);
}

.optionFilter {
    margin-top: 4px;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 4px;
}

.optionFilter:hover {
    background: var(--text-color-60, #e5ebf4);
}

.planWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
}

.loaderWrapper {
    margin: 150px auto;
}