.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.btnBack {
    display: flex;
    align-items: center;
    color: var(--text-color-60, #495057);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    cursor: pointer;
}

.chatWrapper {
    display: flex;
    background: #FFF;
    padding: 12px;
    margin-top: 12px;

    justify-content: space-between;
}

.messageText {
    color: var(--text-90, #495057);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    width: 300px;
    margin-right: 39px;
}

.leftWrapper {
    display: flex;
    flex-direction: column;
    height: 412px;
    overflow: auto;
    position: relative;
}

.ticketId {
    color: var(--text-70, #74788D);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
}

.awgTitle {
    color: var(--text-90, #495057);
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    margin-top: 4px;
    border-bottom: 1px solid #EFF2F7;
}

.messageWrapper {
    display: flex;
    padding: 8px 0px;
    margin-top: 12px;
    border-bottom: 1px solid #EFF2F7;
}

.userAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.date {
    color: var(--text-70, #74788D);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
}

.messageData {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.userName {
    color: var(--text-90, #495057);
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}

.textAreaWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    left: 47px;
    bottom: 0;
    position: absolute;
}

.textArea {
    width: 410px;
    display: flex;
    height: 65px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--text-color-50, #CED4DA);
    background: var(--text-color-white, #FFF);
    color: var(--text-color-70, #74788D);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sendButton {
    width: 34px;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
    border-radius: 4px;
    background: var(--main-main, #556EE6);
    border: none;

    color: var(--text-color-white, #FFF);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
}

.rightWrapper {
    width: 250px;
    margin-left: 36px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background: #F8F8FB;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    border-radius: 4px;
    background: var(--text-color-20, #EFF2F7);
    height: 118px;
}

.statusChips {
    color: var(--text-color-50, #555B6D);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    background: var(--text-color-20, #EFF2F7);
}

.status {
    color: var(--text-90, #495057);
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-transform: capitalize;
}

.reason {
    color: var(--text-90, #495057);
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-transform: capitalize;
}

.reasonDescription {
    color: var(--text-90, #495057);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
}